* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif !important;
}

header {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d3fd2c2207695fa1a9d1d2c1/-min.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  padding: 25px;
}
header nav ul li {
  margin: 5px 25px;
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a img {
  width: 40px;
}
header .header-div {
  padding-top: 130px;
  width: 50%;
}
header .header-div h2 {
  color: white !important;
  font-size: 130px;
  font-weight: 500;
  text-align: left;
}

.sec1 {
  padding: 100px;
  height: 1700px;
}
.sec1 .mainDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.sec1 .mainDiv1 .sec1-div1 {
  width: 20%;
}
.sec1 .mainDiv1 .sec1-div1 h4 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 20px;
}
.sec1 .mainDiv1 .sec1-div1 p {
  padding-bottom: 20px;
}
.sec1 .mainDiv1 .sec1-div1 .p1 {
  padding-left: 200px;
}
.sec1 .mainDiv1 .sec1-div1 .p1 a {
  color: black;
}
.sec1 .mainDiv2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 100px;
}
.sec1 .mainDiv2 .sec1-div2 {
  width: 400px;
  padding-bottom: 100px;
}
.sec1 .mainDiv2 .sec1-div2 .div3 {
  width: 495px;
  height: 495px;
  border-radius: 50%;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/7eb2ce19149a54c5a359d7d6/drt.jpg?version=);
  background-size: cover;
  background-repeat: no-repeat;
}
.sec1 .mainDiv2 .sec1-div2 .div3 .div33 {
  background-color: #cae6d6;
  width: 147px;
  height: 147px;
  border-radius: 50%;
  position: relative;
}
.sec1 .mainDiv2 .sec1-div3 {
  width: 400px;
}
.sec1 .mainDiv2 .sec1-div3 .h1 {
  font-size: 70px;
  padding-bottom: 50px;
  font-weight: 900;
}
.sec1 .mainDiv3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec1 .mainDiv3 .sec1-div4 {
  width: 350px;
  padding-left: 200px;
}
.sec1 .mainDiv3 .sec1-div4 h2 {
  font-weight: 700;
  font-size: 3rem;
}
.sec1 .mainDiv3 .sec1-div4 h3 {
  font-weight: 400;
  font-size: 3rem;
  padding-bottom: 50px;
}
.sec1 .mainDiv3 .sec1-div4 .p2 {
  font-size: 20px;
}
.sec1 .mainDiv3 .sec1-div4 .p3 {
  padding-top: 50px;
  font-size: 20px;
}
.sec1 .mainDiv3 .sec1-div4 .p3 a {
  color: black;
}
.sec1 .mainDiv3 .sec1-div5 {
  width: 350px;
  padding-left: 100px;
  padding-top: 150px;
}
.sec1 .mainDiv3 .sec1-div5 .a {
  color: black;
  font-size: 20px;
}
.sec1 .mainDiv3 .sec1-div5 .p4 {
  font-size: 20px;
}
.sec1 .mainDiv3 .sec1-div6 {
  width: 350px;
  padding-left: 50px;
}
.sec1 .mainDiv3 .sec1-div6 .div6 {
  background-color: #cae6d6;
  width: 147px;
  height: 147px;
  border-radius: 50%;
}
.sec1 .mainDiv4 {
  padding-top: 100px;
}
.sec1 .mainDiv4 .div7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec1 .mainDiv4 .div7 img {
  width: 300px;
  height: 300px;
  margin: 6px;
}

.sec2 {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/bedbe931a3b25d538d3fc50a/-min.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.sec2 .div8 {
  color: white;
  height: 600px;
  width: 400px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  position: relative;
  left: 400px;
}
.sec2 .div8 .h5 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 6px;
  margin: 0;
  padding-left: 70px;
  padding-top: 10px;
}
.sec2 .div8 .h6 {
  font-size: 4.5rem;
  margin: 20px 0;
  padding-left: 80px;
}
.sec2 .div9 {
  background-color: white;
  height: 600px;
  width: 300px;
  position: relative;
  left: 800px;
  bottom: 600px;
}
.sec2 .div9 .d9 img {
  width: 25px;
  height: 25px;
  padding-top: 20px;
}
.sec2 .div10 {
  padding-top: 400px;
  width: 220px;
  padding-left: 20px;
  font-style: italic;
}
.sec2 .div10 .p3 {
  padding-top: 10px;
}
.sec2 .div10 .p3 a {
  color: black;
}

.sec3 {
  height: 1400px;
}
.sec3 .container-1 {
  height: 300px;
}
.sec3 .container-1 .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}
.sec3 .container-1 .row-1 .d-1 {
  height: 250px;
  width: 250px;
  background-color: #cae6d6;
  border-radius: 50%;
}
.sec3 .container-1 .row-1 .d-2 {
  width: 500px;
  position: relative;
  left: -96px;
  top: 50px;
}
.sec3 .container-1 .row-1 .p1 {
  font-size: 3rem;
  margin: 0;
}
.sec3 .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec3 .row-2 .div1 {
  width: 325px;
  height: 370px;
  margin: 10px;
}
.sec3 .row-2 .div2 {
  width: 325px;
  margin: 6px;
}
.sec3 .row-2 .div2 img {
  height: 315px;
  margin: 6px;
}
.sec3 .row-2 .div3 {
  width: 325px;
  margin: 6px;
}
.sec3 .row-2 img {
  width: 320px;
  margin: 6px;
}
.sec3 .row-2 .fd {
  height: 480px;
  margin: 6px;
}

.sec4 {
  background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/73e1ae5353685918bf1176bd/pexelsphoto3334048.jpeg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.sec4 .hh {
  width: 600px;
  padding-left: 600px;
  padding-top: 300px;
}
.sec4 .hh .h12 {
  color: white !important;
  font-size: 130px;
  font-weight: 500;
  text-align: right;
}

.sec5 {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec5 .df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec5 .div20 {
  width: 300px;
  padding: 150px;
}
.sec5 .div20 .h13 {
  letter-spacing: 3px;
  font-family: sans-serif;
  padding-bottom: 20px;
}
.sec5 .div20 .h14 {
  font-style: italic;
  padding-bottom: 20px;
}
.sec5 .div20 .h15 {
  font-family: sans-serif;
  padding-bottom: 10px;
}
.sec5 .div20 .h16 {
  color: black;
  font-size: 17px;
  font-family: sans-serif;
  letter-spacing: 3px;
}
.sec5 .div21 {
  width: 94px;
  height: 94px;
  margin: -53px 13px 0 auto;
  border-radius: 50%;
  background-color: #cae6d6;
  position: relative;
  top: 50px;
  left: 50px;
}
.sec5 .div22 img {
  width: 30px;
  height: 30px;
  padding-top: 200px;
}
.sec5 .div23 {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/5d9de2b71b915bf48e292f43/rtrtt-min.jpg);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  left: 300px;
  top: 100px;
}
.sec5 .div23 .p3 {
  left: 100px;
  top: 340px;
  position: relative;
}
.sec5 .div23 .p3 a {
  color: black;
}

footer {
  height: 200px;
  color: #ffffff;
  background-color: #333333;
  padding: 50px;
}
footer .div24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .div24 a {
  padding: 10px;
  color: white;
  text-decoration: none;
  padding-left: 30px;
}
footer .div24 a:hover {
  color: #969191;
}